bootstrap/cache/
deployments/
docker-compose*.yml
Dockerfile
docs/
node_modules/
phpunit.xml
public/build/
public/hot/
public/storage/
storage/*.key
tests/
vendor/
Thumbs.db
.dockerignore
.DS_Store
.editorconfig
.env*
.git
.gitignore
.idea/
.phpunit.result.cache
.vscode/
*.env
*.log
*.md
*.sql
*.sqlite
